@media screen and (max-width: 425px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
}
